.section {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  max-width: 90rem;
  margin: 0 auto;

  .container {
    position: relative;
    height: 500px;
    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 650px;

    @media (min-width: 1024px) {
      max-width: 90%;
      width: 90%;
      border: none;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: linear-gradient(
        90deg,
        rgba(63, 28, 84, 0.4) 0%,
        rgba(56, 9, 85, 0.5) 100%
      );
      backdrop-filter: blur(2px);

      @media (min-width: 1024px) {
        background: transparent;
        backdrop-filter: none;
      }
    }
    .text-container {
      width: 100%;
      max-width: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      background: transparent;
      text-align: center;
      height: 100%;

      @media (min-width: 1024px) {
        padding: 1rem 2rem;
        transform: translate(40%);
        background: linear-gradient(
          90deg,
          rgba(63, 28, 84, 0.4) 0%,
          rgba(56, 9, 85, 0.5) 100%
        );
        backdrop-filter: blur(2px);
        border: 2px solid rgb(255, 255, 255, 0.7);
        border-radius: 15px;
        width: 45%;
        height: auto;
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;
        .title {
          font-size: 1.5rem;
          font-weight: bold;
          background: linear-gradient(
            270deg,
            #f04a68 -8.43%,
            #f23be0 23.92%,
            #cc2bf5 51.48%,
            #b11cf7 77.24%,
            #bc12f8 106.6%
          );
          background-clip: text;
          color: transparent;
        }
        .sub-title {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .stack {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;

          span {
            padding: 0.3rem 1rem;
            background-color: #bc12f8;
            border-radius: 15px;
            font-size: 0.8rem;
          }
        }
        .description {
          font-size: 0.9rem;
          color: rgb(255, 255, 255, 0.78);
        }
        @media (min-width: 768px) {
          gap: 2.5rem;
        }
      }
    }
    .images-wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 90%;
      z-index: -10;

      .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // max-width: 65%;
        width: auto;
        max-height: 80%;
        border: 2px solid rgb(255, 255, 255, 0.7);
        border-radius: 20px;
      }
      .image:nth-of-type(2) {
        top: 20%;
        left: 60%;
        transform: translateX(-50%);
        z-index: -20;
      }

      @media (min-width: 1024px) {
        position: relative;
        width: 40%;
      }
    }
  }
}
