.scroll {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  overflow-x: hidden;
}

.root {
  position: relative;
  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ghost {
  width: 100vw;
}

.thumbnailsContainer {
  position: relative;
  height: 100vh;
  height: 100dvh;
  top: 0;
  gap: 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  > * {
    max-width: 80vw;
    height: 40vh;
    width: 700px;
  }
}

.thumbnails {
  position: relative;
  display: flex;
  border: 20px solid green;
}
