@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: calc(var(--vh) * 100);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #1e1e1e;
  color: #fff;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
button,
span,
li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: none;
  padding: none;
  background: none;
  cursor: pointer;
}
